.bvl {
    &-modal {
        contain: none;
        overflow: visible;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        contain: none;
        overflow: visible;
    }

    &-header-buttons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &-filters-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 1;
    }

    &-icon-button {
        border: none;
        background: none;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        svg {
            width: 22px;
            height: 22px;
        }
    }

    &-filters {
        position: absolute;
        top: calc(-100% + 8px);
        left: calc(200% + 16px + var(--modal-horizontal-padding));
        width: 200px;
        max-height: 300px;
        background-color: var(--modal-background);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--border-normal);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 2;
    }

    &-filter-section {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &-icon.hoverable {
        color: var(--icon-muted);
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--icon-secondary);
        }
    }

    &-content {
        z-index: 1 !important;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &-search-input {
        width: 75%;
    }

    &-result-count {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        svg {
            color: var(--icon-muted);
            width: 18px;
            height: 18px;
        }

        [data-text-variant] {
            font-size: 0.875rem;
            color: var(--text-muted);
        }
    }

    &-results {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 300px;
    }

    &-log {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--modal-background);
        border: 1px solid var(--border-normal);

        &[data-move-type="Join"] {
            border-left: 4px solid #40a258;
        }
        &[data-move-type="Leave"] {
            border-left: 4px solid #d9534f;
        }
        &[data-move-type="Move"] {
            border-left: 4px solid #f0ad4e;
        }
        &[data-move-type="Stay"] {
            border-left: 4px solid var(--border-normal);
        }

        .move-icon {
            position: absolute;
            right: 1rem;
            top: 0.5rem;

            width: 18px;
            height: 18px;
            color: var(--icon-muted);
        }

        .bottom-right {
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: flex-end;
            justify-content: center;

            .status-icons,
            .update-icons {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .bvl-icon {
                    width: 18px;
                    height: 18px;
                    color: var(--icon-muted);
                }

                .text {
                    font-size: 0.875rem;
                    color: var(--text-muted);
                }

                .stop {
                    opacity: 0.5;
                }

                .guild-icon {
                    color: #d9534f;
                }
            }
        }

        .guild,
        .channel,
        .user,
        .time {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .icon {
                width: 18px;
                height: 18px;
                border-radius: 4px;
                color: var(--icon-muted);
            }

            [data-text-variant] {
                font-size: 0.875rem;
                user-select: text;
                &.alt-text {
                    color: var(--text-muted);
                }
            }
        }

        .channel {
            gap: 0.25rem;
            svg {
                width: 18px;
                height: 18px;
                color: var(--icon-muted);
            }
        }

        .bvl-red-dot {
            width: 14px !important;
            height: 14px !important;
            border-radius: 50%;
            background-color: #ed4245;
            box-shadow: 0px 0px 4px #ed4245;
        }
    }
}
